source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget Expecto
nuget FsCheck
nuget FSharp.Core >= 6.0 lowest_matching: true, redirects: force
nuget Expecto.FsCheck
nuget FsToolkit.ErrorHandling
nuget NicoVIII.FSharp.Json
